@charset "UTF-8";

h1{
    text-align:center;    
}

#ptext{
    font-size: 12pcx;
    text-align: center;
    font-family: arial;        
}

.plink { 
    margin-left: 400px;
}

#regras{
    text-align: center;
}

.regant{
    margin-left: 200px;
}

.regprox{
    margin-left: 250px;   
}